version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: growmetrics_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    container_name: growmetrics_adminer
    restart: always
    ports:
      - "8080:8080"

  backend:
    build: .
    environment:
      - REDIS_ADDR=redis:6379 
    depends_on:
      - redis
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

volumes:
  postgres_data:
